.article_body h1,
.article_body h2,
.article_body h3,
.article_body h4,
.article_body h5,
.article_body h6 {
	margin-left: 0;
}

.article_body h1 {
	font-size: 1.8rem;
}
.article_body h2 {
	font-size: 1.5rem;
}

.article_body h3 {
	font-size: 1.2rem;
}

.article_body h4 {
	font-size: 1rem;
}

.article_body h5 {
	font-size: 0.8rem;
}

.article_body h6 {
	font-size: 0.6rem;
}

.article_body hr {
	border-style: dashed;
	border-color: #444444;
	border-width: 1px 0 0 0;
}

.article_body blockquote {
	margin: 0.5rem 0.2rem 0.5rem 0.5rem;
	padding: 0.5rem 0 0.5rem 0.5rem;

	border-style: solid;
	border-color: #888888;
	border-width: 0 0 0 3px;
}
.article_body blockquote blockquote {
	margin-left: 0.05rem;
}

.article_body mark {
	background-color: #afafff;
	border-radius: 0.5rem;

	padding: 0.1rem 0.3rem;
}