
@import url("markdown.css");
@import url("article.css");

header {
	background-color: #ededed;
	margin-bottom: 1rem;

	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

header a {
	text-decoration: none;
}

/* page description on main page header */
.page_description {
	font-size: 0.7rem;
	margin-left: 2rem;
}

article {
	min-width: 28rem;
	max-width: calc(100% - 40em);
	
	border-style: double;
	border-color: #888888;
	border-width: 0 0 0 3px;

	padding: 0.5rem;
	margin: 0 0 1.5rem 1.5rem;

	float: left;
}

body > footer {
	border-style: solid;
	border-color: #000000;
	border-width: 1px 0 0 0;

	margin-top: 1rem;
	padding: 1rem;
	
	clear: both;
}

.article_title {
	margin: 0 0 0.6rem 0.4rem;
}

.article_body {
	margin: 0.1rem 1rem 0.1rem 1rem;

	line-height: 1.4;
}

.article_body li {
	margin: 0.5rem 0;
}

.article_footer {
	color: #666666;

	font-size: 0.8rem;
	text-align: right;
	margin: 0.5rem 0 0 1rem;
}

.article_list {
	max-width: 60rem;
	height: 100%;

	float: left;

	margin: 0;
	padding: 0;
}

.article_list > ul {
	list-style-position: inside;
	list-style-type: none;

	margin: 0;
	padding: 0;
}

.article_list > ul > li {
	width: 28rem;
	height: 6rem;

	box-sizing: border-box;
	
	border-style: solid;
	border-color: #000000;
	border-width: 1px 1px 1px 8px;

	margin: 0.6rem;
	padding: 0;

	float: left;
}

.article_list > ul > li > a {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	padding: 0.5rem;
	position: relative;
}

.article_list > ul > li:hover {
	background-color: #f9f9f9;
}
.article_list > ul > li:nth-of-type(4n):hover {
	border-color: yellow;
}
.article_list > ul > li:nth-of-type(4n+1):hover {
	border-color: lightgreen;
}
.article_list > ul > li:nth-of-type(4n+2):hover {
	border-color: red;
}
.article_list > ul > li:nth-of-type(4n+3):hover {
	border-color: lightblue;
}

.article_anchor_footer {
	color: #666666;
	font-size: 0.8rem;

	margin: 0.5rem 0 0 1rem;

	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0.5rem;
}

.article_body img {
	width: 320px;
	max-width: 95%;

	background-color: #ffffff;
	padding: 2px;

	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

nav.sidebar {
	width: 28rem;
	height: 100%;

	font-size: 80%;

	box-sizing: border-box;

	display: block;
	float: left;

	border-style: solid;
	border-color: #000000;
	border-width: 3px 1px;

	margin: 0 0 0 0.6rem;
	padding: 0.5rem;
}

nav.sidebar hr {
	border-style: dashed;
	border-color: #444444;
	border-width: 1px 0 0 0;

	margin: 1rem 0;
}